<style>
#editForm input {
	width: 500px;
}
#editForm input.short {
	width: 100px;
}
#editForm textarea {
	width: 600px;
}
#editForm input.small {
	width: 150px;
}
</style>
<script>
$(document).ready(function() {

	$("#copyToArgTable").on("click", function(e) {
		e.preventDefault();
		
		//Ok, copy from JSON packet to table
		var json = $.trim($("textarea[name=args]").val());
		if(json.length === 0) {
			alert("No data to copy, dummy.");
			return;
		};
		
		var data = JSON.parse(json);
		for(var i=0;i<data.length; i++) {
			var arg = data[i];
			$("#name"+i).val(arg.NAME);
			$("#desc"+i).val(arg.DESC);
			var cb = $("#req"+i);
			if(arg.REQ) {
				cb.prop("checked",true);
			} else {
				cb.prop("checked", false);
			}
		}
	});

	$("#copyFromArgTable").on("click", function(e) {
		e.preventDefault();
		var data = [];
		
		for(var i=0;i<10; i++) {
			var arg = {};
			var $name = $("#name"+i);
			var $desc = $("#desc"+i);
			var $req = $("#req"+i);
			if($name.val() != '') {
				arg.NAME = $name.val();
				arg.DESC = $desc.val();
				if($req.prop("checked")) {
					arg.REQ = 1;
				} else {
					arg.REQ = 0;
				}
				data.push(arg);
			}
		}
		$("textarea[name=args]").val(JSON.stringify(data));
		
	});
	
	$("#generateJavaDoc").on("click", function(e) {
		e.preventDefault();
		//tag based?
		var tagBased = $("input[name=tagbased]").prop("checked");
		console.log("tagBased",tagBased);
		var short = $("textarea[name=shortdescription]").val();
		var desc = $("textarea[name=description]").val();
		var headerComments = $("textarea[name=headercomments]").val();
		var args = $("textarea[name=args]").val();
		var returnVal = $("input[name=returnvalue]").val();
		var author = $("input[name=author]").val();
		var authorEmail = $("input[name=authoremail]").val();
		var version = $("input[name=version]").val();
		var now = new Date();
		var dateStr = (now.getMonth()+1)+'/'+(now.getDate())+'/'+(now.getFullYear());
		
		if(!tagBased) {
			var jd = "/**\n * "+short+"\n";
			if(headerComments.length > 0) {
				var lines = headerComments.split(/\n/);
				for(var i=0; i<lines.length; i++) {
					jd += " * " + lines[i] + "\n";
				}
			}
			jd += " * \n";
			if(args.length) {
				var argData = JSON.parse(args);
				for(var i=0; i<argData.length; i++) {
					jd += " * @param "+argData[i].NAME + " " + argData[i].DESC;
					if(argData[i].REQ) jd+=" (Required)";
					else jd+=" (Optional)";
					jd += "\n";
				}
			}
			if(returnVal.length) jd+= " * @return "+returnVal + "\n";
			jd += " * @author "+author + " ("+authorEmail+")\n";
			jd += " * @version "+version+", " + dateStr + "\n";
			jd += " */";
		} else {
			var jd = "<!---\n "+short+"\n";
			if(headerComments.length > 0) {
				jd += headerComments + "\n";
			}			
			jd += "\n";
			if(args.length) {
				var argData = JSON.parse(args);
				for(var i=0; i<argData.length; i++) {
					jd += "@param "+argData[i].NAME + " " + argData[i].DESC;
					if(argData[i].REQ) jd+=" (Required)";
					else jd+=" (Optional)";
					jd += "\n";
				}
			}			
			if(returnVal.length) jd+= "@return "+returnVal + "\n";
			jd += "@author "+author + " ("+authorEmail+")\n";
			jd += "@version "+version+", " + dateStr + "\n";
			jd += "--->\n";

		}
		
		$("textarea[name=javadoc]").val(jd);
	});
	
});
</script>

<h1>Edit {{udf.name}}</h1>

<form method="post">
<input type="hidden" name="udfid" value="{{udf.id}}">
<table id="editForm">
<tr>
	<td><b>Name:</b></td>
	<td><input type="text" name="name" value="{{udf.name}}"></td>
</tr>
<tr>
	<td><b>Last Updated:</b></td>
	<td>{{fullDate udf.lastUpdated}}</td>
</tr>
<tr>
	<td><b>Required CF Version:</b></td>
	<td>
	<input type="text" name="cfversion" value="{{udf.cfVersion}}">
	</td>
</tr>
<tr>
	<td><b>Version:</b></td>
	<td><input type="text" name="version" value="{{udf.version}}" class="short"></td>
</tr>
<tr>
	<td><b>Tag Based:</b></td>
	<td><input type="checkbox" name="tagbased" {{#if udf.tagBased}}checked{{/if}} value="1"></td>
</tr>
<tr>
	<td><b>Author Name and Email:</b></td>
	<td><input type="text" name="author" value="{{udf.author}}"> 
	<input type="text" name="authoremail" value="{{udf.authorEmail}}"></td>
</tr>
<tr>
	<td><b>Library:</b></td>
	<td>
	<select name="libraryid">
	{{#each libraries}}
		<option value="{{this.id}}" {{selected this.id ../udf.library_id}}>{{this.name}}</option>
	{{/each}}
	</select>
	</td>
</tr>
<tr>
	<td colspan="2"><b>Short Description:</b><br/>
	<textarea name="shortdescription" cols="50" rows="3">{{udf.shortDescription}}</textarea>
	</td>
</tr>
<tr>
	<td colspan="2"><b>Description:</b><br/>
	<textarea name="description" cols="50" rows="6">{{udf.description}}</textarea>
	</td>
</tr>
<tr>
	<td colspan="2"><b>Arguments:</b><br/>
	<!-- to allow for quick read/de -->
	<table>
		{{#times 10}}
		<tr>
			<td>Name:</td><td><input type="text" id="name{{this}}" class="small"></td>
			<td>Desc:</td><td><input type="text" id="desc{{this}}" class="small"></td>
			<td>Req:</td><td><input type="checkbox" id="req{{this}}" class="small"></td>
		</tr>
		{{/times}}
	</table>
	<p/>
	<p>
		<button id="copyFromArgTable">Copy from Table</button> / <button id="copyToArgTable">Copy To Table</button>
	</p>
	<i>Example: [{"NAME":"file","DESC":"file to foo","REQ":true}]</i><br/>
	<textarea name="args" cols="50" rows="6">{{stringify udf.args}}</textarea>
	</td>
</tr>
<tr>
	<td><b>Return Value:</b></td>
	<td><input type="text" name="returnvalue" value="{{udf.returnValue}}"></td>
</tr>
<tr>
	<td colspan="2"><b>Example:</b><br/>
	<textarea name="example" cols="50" rows="6">{{udf.example}}</textarea>
	</td>
</tr>
<!--
<tr>
	<td colspan="2"><b>Example Other:</b><br/>
	<textarea name="exampleother" cols="50" rows="3">#exampleother#</textarea>
	</td>
</tr>
-->
<tr>
    <td colspan="2"><b>Warnings:</b><br/>
    <textarea name="warnings" cols="50" rows="3">{{udf.warnings}}</textarea>
    </td>
</tr>
<tr>
    <td colspan="2"><b>Header Comments:</b><br/>
    <textarea name="headercomments" cols="50" rows="3">{{udf.headerComments}}</textarea>
    </td>
</tr>
<tr>
    <td colspan="2"><b>JavaDoc:</b><br/>
	<button id="generateJavaDoc">Generate JavaDoc automatically</button><p>
	<i>Sample:</i><br/>
<pre><code>
/**
 * Month number to three character month text abbreviation.
 * v0.9 by Craig Heath
 * v1.0 by Adam Cameron (improved/simplified logic, made locale-aware)
 * 
 * @param monthNum 	 The month (1-12) (Required)
 * @return Returns a locale-specific string representation of the month formatted with mask mmm 
 * @author Craig Heath (cf.contractor@gmail.com) 
 * @version 1.0, February 7, 2013 
 */
</code></pre>

    <textarea name="javadoc" cols="50" rows="20">{{udf.javaDoc}}</textarea>
    </td>
</tr>

<tr>
    <td colspan="2"><b>Code:</b><br/>
    <textarea name="code" cols="50" rows="20">{{udf.code}}</textarea>
    </td>
</tr>
<tr>
    <td><b>Released:</b></td>
	<td>
	<select name="released">
	<option>--</option>
	<option value="1" {{selected 1 udf.released}}>Yes</option>
	<option value="0" {{selected 0 udf.released}}>No</option>
    </select>
	</td>
</tr>
<tr>
    <td><b>Rejected:</b></td>
    <td>
    <select name="rejected">
	<option>--</option>
    <option value="1" {{selected 1 udf.rejected}}>Yes</option>
    <option value="0" {{selected 0 udf.rejected}}>No</option>
    </select>
    </td>
</tr>
<tr>
	<td><b>Rejection Reason:</b></td>
	<td><input type="text" name="rejectionreason" value="{{udf.rejectionReason}}"></td>
</tr>
</table>
<input type="submit" value="Save UDF">
</form>
<br/><br/>
<p>
<a href="/admin">[Admin]</a>
</p>